/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:900);
@import '../variables.css';

.root {
  background-image: -webkit-linear-gradient(var(--sub-color) 50%, transparent 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

.root {
  /*position: absolute;*/
  /*top: 50%;
  left: 50%;*/
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font: bold 24vmax/.8 Maven Pro, Impact;
}
